@tailwind base;

@tailwind components;

@tailwind utilities;

$primary: #FB5975;
$secondary: #20336F;
$thirdy: #538CCF;
$yellow: #FFECCA;

* {
    font-family: 'Quicksand', sans-serif;
}

// overrides
.custom-mockup {
    .el-step__head {
        &.is-success {
            color: $thirdy;
            border-color: $thirdy;
        }
    
        &.is-process {
            color: $secondary;
            border-color: $secondary;
        }
    }

    .el-step__main {
        .el-step__title {
            &.is-success {
                color: $thirdy;
            }

            &.is-process {
                color: $secondary;
            }
        }

        .el-step__description {
            &.is-success {
                color: $thirdy;
            }

            &.is-process {
                color: $secondary;
            }
        }
    }
}

button {
    touch-action: manipulation;
}

.el-scrollbar {
    > .el-scrollbar__bar {
        opacity: 1;
    }
}

.el-input-number__increase, .el-input-number__decrease {
    height: 58px !important;
    line-height: 58px !important;
}

.btn-lg {
    padding: 20px 30px !important;
}

.text-lg {
    font-size: 18px !important;
}

.el-input__inner {
    height: 60px !important;
    font-size: 20px !important;
}

.el-select-dropdown__item:hover {
    background-color: #333 !important;
    color: #FFF !important;
}
