@tailwind base;

@tailwind components;

@tailwind utilities;

$primary: #FB5975;
$secondary: #20336F;
$thirdy: #538CCF;
$yellow: #FFECCA;
$blue: #20336f;
$gray: #626162;
$light-gray: #f6f3f3;
$light-font-color: #747473;

* {
    font-family: 'Helvetica', 'Open Sans', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, li, div, address {
    color: $gray;
}

img {
    height: auto;
}

// overrides
.custom-mockup {
    .el-step__head {
        &.is-success {
            color: $thirdy;
            border-color: $thirdy;
        }
    
        &.is-process {
            color: $secondary;
            border-color: $secondary;
        }
    }

    .el-step__main {
        .el-step__title {
            &.is-success {
                color: $thirdy;
            }

            &.is-process {
                color: $secondary;
            }
        }

        .el-step__description {
            &.is-success {
                color: $thirdy;
            }

            &.is-process {
                color: $secondary;
            }
        }
    }
}

button {
    touch-action: manipulation;
}

.el-scrollbar {
    > .el-scrollbar__bar {
        opacity: 1;
    }
}

.el-input-number__increase, .el-input-number__decrease {
    height: 58px !important;
    line-height: 58px !important;
}

.btn-lg {
    padding: 20px 30px !important;
}

.text-lg {
    font-size: 18px !important;
}

.el-input__inner {
    height: 60px !important;
    font-size: 20px !important;
}

.el-select-dropdown__item:hover {
    background-color: $gray !important;
    color: #FFF !important;
}

.bm-burger-button {
    top: 0px !important;
    position: relative !important;
    right: 0px !important;
}

.text-blue {
    color: $blue !important;
}

.text-light-blue {
    color: $thirdy !important;
}

.banner {
    background-image: url('../images/header-banner.jpg');
    @media handheld {
        background-size: auto 100%;
    }
}

.footer-banner {
    background-image: url('../images/footer-banner.jpg');
    @media handheld {
        background-size: auto 100%;
    }
}

.custom-button {
    color: #FFF !important;
    background-color: $primary !important;
    border-color: $primary !important;
}

.bm-menu {
    height: 100vh !important;
}

.negative-z-index {
    z-index: -1 !important;
}

.home-icons {
    width: 100px;
    height: auto;
}

.home-sub-icons {
    width: 180px;
    height: auto;
}

.home-company-icons {
    width: 150px;
    height: auto;
}

.gray-bg {
    background: $gray;
}

.light-gray-bg {
    background: $light-gray;
}

.light-font-color {
    color: $light-font-color;
}

.testimonial-arrow {
    position: absolute;
    left: 20px;
    bottom: -15px;
}

.comment-box {
    min-height: 180px;
}

.el-collapse-item__header, .el-collapse-item__wrap {
    background: transparent !important;
}

.el-collapse-item__header {
    .el-icon-plus {
        display: inline-block;
    }

    .el-icon-minus {
        background: $thirdy !important;
        display: none;
    }

    &.is-active {
        .el-icon-plus {
            display: none;
        }

        .el-icon-minus {
            display: inline-block;
        }
    }

    .el-collapse-item__arrow {
        display: none;
    }
}

.bg-blue {
    background: $blue;
}

.bottom-footer {
    border-color: #34457c;
}
